<!--
--------------
Programmer:  [Jessica Alexander]
Course:      ITSE-1306 (Intro to PHP)
Instructor:  Cesar "Coach" Marrero
Assignment:  [Week9]
Description: [Web Application]
--------------
-->
</main>

<footer container class="siteFooter">
	<p>Design uses <a href="http://concisecss.com/">Concise CSS Framework</a></p>
<p class="float-right"><?php // Print the current date and time...
date_default_timezone_set('America/Chicago');

print date('G:i A l F j Y');
?></p>
</footer>
	
</body>
</html><?php 

ob_end_flush();
?>